@model ResetPassword
<br />
@using (@Html.BeginForm("ResetPassword", "Registration", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Token)
    @Html.HiddenFor(x => x.Email)
    <div class="card">
        <div class="card-header-case shadow-sm change-password-style" style="background-color:mintcream">
            <i class="fa fa-info-circle fa-lg case-style"></i>
            <text class="case-style">
                Please enter and confirm your new password:
            </text>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group-sm">
                        <label asp-for="Password" class="control-label">New Password</label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="input-group-sm">
                        <label asp-for="ConfirmPassword" class="control-label">Confirm New Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="text-left">
                        <button type="submit" class="btn button-next">Reset Password</button>
                    </div>
                </div>
                @Html.ValidationSummary("", new { @Class = "text-danger" })

            </div>
        </div>
    </div>

}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}