@model ForgotPassword
<br />
@using (@Html.BeginForm("ForgotPassword", "Registration", FormMethod.Post))
{
    <div class="card bg-transparent shadow" style="border:none; border-radius:15px"><br />
        <div class="card-body ">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3 bg-white  d-none d-md-block loginLogo" style="border-top-left-radius:15px; border-bottom-left-radius:15px">
                    <br /><br /><br /><br />
                    <img src="~/images/sidelogo.png" style="width:100%; height:auto" class="img-fluid" /><br /><br /><br />
                    <div class="text-center">
                        <hr />
                        <a asp-action="Login" asp-controller="Registration" class="urlColor" style="color:black; font-weight:bolder"> <i class="fas fa-arrow-left">&nbsp;&nbsp;</i>Back to login</a><hr />
                        <p style="color:black; font-weight:bolder">
                            Don't have an account?  <a asp-action="UserRegistrationData" asp-controller="Registration">Register here</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-5 shadow Login" style="border-top-right-radius:15px; border-bottom-right-radius:15px; background-color:#333B41">
                    <h3 style="color:#868787; text-align:center; padding:30px">
                        Forgot your password ?
                    </h3><br />
                    <div class="text-center text-white">
                        Enter your email below to receive your password reset instructions.
                    </div>
                    <div class="input-group-sm">
                        <label></label>
                        <input asp-for="EmailAddress" class="form-control-New-Login" type="email" placeholder="&#x2709;     Email Address" style="font-family: Arial, FontAwesome" />
                        <span asp-validation-for="EmailAddress" class="text-error"></span>
                        <span class="text-error">@Html.ValidationSummary()</span>
                    </div><br />
                    <div class="text-center">
                        <button type="submit" class="button1"><span>Submit</span></button>
                    </div>
                    <div class="mobileShow">
                        <a asp-action="Login" asp-controller="Registration" class="urlColor" style="color:white; font-weight:bolder"> <i class="fas fa-arrow-left">&nbsp;&nbsp;</i>Back to login</a><hr />
                        <p style="color:white; font-weight:bolder">
                            Don't have an account?  <a asp-action="UserRegistrationData" asp-controller="Registration">Register here</a>
                        </p>
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12" style="text-align:center">

                    <hr class="hr-line-big hr-line" />
                    <p style="font-size:14px">
                        TURN YOUR <text class="text-success1"><strong>IDEAS</strong></text> INTO<br />
                        TECHNOLOGY  <text class="text-success1"><strong>SOLUTIONS</strong></text>
                    </p>
                </div>
            </div>
        </div>

    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
