@model ChangePassword

    <div id="divChangePasswordPartial2">
        @if (Model.HasErrors)
        {
            <div class="row">
                
                @Html.ValidationSummary("Unable to update password", new { @Class = "text-danger" })
            </div>
        }
        @if (Model.Sucessful)
        {
            <div class="row">
                <div class="col">
                    @await Html.PartialAsync("/Views/Shared/_ShowToast.cshtml", new ToastMessage("Success", "Password updated!"))
                </div>
            </div>

        }
        <div class="modal fade" id="chngePasswordModal">
            <div class="modal-dialog modal-dialog-centered" role="dialog">
                <div class="modal-content">
                    <div class="modal-header text-color">
                        <div class="row">
                            <div class="col">
                               <i class="fa fa-lock">&nbsp;</i>
                                    Please enter and confirm your new password:
                                
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group-sm">
                                            <label asp-for="Password" class="control-label">New Password</label>
                                            @Html.TextBoxFor(m => Model.Password, "", new { @Class = "form-control", id = "Password", type = "Password" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group-sm">
                                            <label asp-for="ConfirmPassword" class="control-label">Confirm New Password</label>
                                            @Html.TextBoxFor(m => Model.ConfirmPassword, "", new { @Class = "form-control", id = "ConfirmPassword", type = "Password" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @Html.ValidationSummary("", new { @Class = "text-danger" })
                        </div>
                    </div>
                    <div class="modal-footer bg-modal-footer">
                        <button type="button" class="btn-default btn-sm  button-cancel" data-dismiss="modal">CANCEL</button>
                        <button id="btnChangePassword" type="submit" class="btn  button-next btn-sm float-right">CHANGE PASSWORD</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
<script type="text/javascript">
    $(window).load(function () {
        $('#chngePasswordModal').modal('show');
    });

</script>


