@model GovtechHackAthon.Models.TermsConditions;


<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h6 class="font-weight-bold">
                    In order to use our services and register a user on GovtechHackathon tools, you need to approve the terms of use.
                </h6>
                <h6 class="font-weight-bold">Preamble</h6>
                <text>
                    SITA has a statutory mandate to provide ICT systems and related services to or on behalf of government departments and organs of state and to act as an agent of government in the procurement of such services. SITA also has a further mandate to lead the digitalisation of government through the provision of ICT services that seek to improve the operation of government and service delivery to the public.<hr />
                    NDP2030 is a South African national economic plan that is aimed at eliminating poverty and reducing inequality by 2030 through drawing on the energies of the South African citizens, growing an inclusive economy, building capabilities and enhancing the capability of the state and leaders Proposaling together to solve complex problems. In order to contribute positively to the problems facing our country and
                    citizens through the smart and effective use of ICT services, <hr />
                    SITA launched the NDP2030 Hackathon challenge during the annual SITA Govtech 2017 event. The objective of the Hackathon is to provide an opportunity to all South Africans from different backgrounds and disciplines to create innovative and functioning solutions that aim to solve the socio-economic challenges.
                    <br />  Solutions developed from the Hackathon will be deployed at identified Government institutions for consumption by South African citizens. Hackathons will be utilised as a vehicle to drive the collaborations between the various stakeholders from the public sector and ICT industry to digitise Government and accelerate the delivery of public services as defined in the NDP2030.<br /><br />
                </text>
            </div>
            <div class="col-md-2">
                <br /><br /><br />
                <img src="~/images/privacy_icon.svg" class="img-fluid" />
            </div>
            <div class="card border-0 bg-transparent">
                <h6 class="font-weight-bold">&nbsp;&nbsp;&nbsp;Definitions</h6>
                <ul>
                    <li>
                        For the purpose of this Agreement, unless the context otherwise indicates, the following words and phrases shall have the meanings assigned to them below and cognate expressions shall have corresponding meanings:
                    </li>
                    <li>“Administrator” means a person tasked to manage administration of NDP2030 Hackathon;</li>
                    <li>“Agreement” means this SITA Hackathon Participation Agreement as envisaged and includes all documentation appended or annexed hereto and signed by the Parties;</li>
                    <li> “Confidential information” means, in relation to either Party any and all information which is:</li>
                    <li>lawfully not in the public domain;</li>
                    <li>may reasonably be regarded as being sensitive to the Party concerned including in circumstances where that Party communicates such sensitivity to the other Party; and/or</li>
                    <li>by its nature or content, any information that ought reasonably to be identifiable as confidential and/or proprietary to the Party disclosing such information (‘disclosing Party’), including information regarding either Party’s business, business practices and trade secrets material to the business of the disclosing Party, which information may be furnished orally or in writing, or in any form, including in computer language and whether marked with proprietary legend or not. Such confidential information, without limiting it to such, may include details of finances, price files, contracts, earnings, volume of business, methods, systems, practices, plans and/or fee schedules.</li>

                    <li>“Exploitation” means the utilization of any ideas, concepts, activities or INTELLECTUAL PROPERTY rights arising from this AGREEMENT, by putting the same to commercial use or industrial implementation with the view to making profit;</li>
                    <li>“Intellectual property” means collectively the patents, copyright, trademarks, designs, models, trade names, trade secrets, confidential information and know-how of the parties whether registered or unregistered, including applications for and rights to obtain or use same;</li>
                    <li>“Participant” means any person who takes part in the SITA Hackathon event in terms of this Agreement;</li>
                    <li>“Parties” means SITA and the Participant, and “Party” will mean, as the context requires, any one of them.</li>
                    <li>“Person” means a natural person, juristic person or organ of state, for the purposes of this Agreement;</li>
                    <li>"Proposal" shall mean a project or concept proposal which is submitted for the SITA Hackathon Proposal;</li>
                    <li>“Proprietary information” means any and all data whether of a historical, current or future nature, irrespective of whether same is stored, recorded or embodied in handwritten, printed, visual, electronic, audible or other format or medium, whether in the possession or under the control of either Party or any third party, including without limiting its ordinary meaning, all data, computer data, agreements and other documentation, programming code, codes, letters, telefaxes, telegrams, faxes, specifications, and strategic plans;</li>
                    <li>“SITA” means the State Information Technology Agency established in terms of the SITA Act, 1998, and registered under the Companies Act, 1973 (Act 61 of 1973) under registration number 1999/001899/30.</li>
                </ul>
                <h6 class="font-weight-bold">Principles of this Agreement</h6>
                <ul>
                    <li>In the event that SITA or any Participant are subsequently ordered to testify/consult/or provide know how on aspects of the Proposal, the Participant shall be liable to be required to testify/or consult and the reasonable costs incurred in connection with attendance at the relevant proceedings/meetings.</li>
                    <li>Intellectual Property and related matter emanating from the participation shall be managed in accordance with the provisions of the Intellectual Property Rights from Publicly Financed research and Development Act, 2008 (Act No. 51 of 2008),</li>
                    <li>The contents of this Agreement (as well as all discussions and/or documents leading to the finalisation thereof constitute Confidential Information and shall specifically not be divulged by the Participant to any unauthorized third party).</li>
                    <li>No Party shall present itself as the representative or agent of any other Party (ies) for any legal action to be taken, nor shall it have the power of authority to commit any other Party (ies) unless it receives prior written consent, and then only to the extent set out therein.</li>
                    <li>Nothing in this AGREEMENT shall be interpreted as establishing a joint venture between the Parties.</li>
                </ul>
                <h6 class="font-weight-bold">Participation</h6>
                <ul>
                    <li>Participants are required to work in teams consisting of a minimum of 3 to a maximum of 5 members. Teams of 1 are not eligible to participate in the NDP2030 Hackathon.</li>
                    <li>To participate, teams must be available to present their proposals and if shortlisted to attend a Hackathon event during stated times and places.</li>
                    <li>Participants must make their own travel and accommodation arrangements and cover all associated costs and expenses.</li>
                </ul>
                <h6 class="font-weight-bold">Eligibility</h6>
                <ul>
                    <li class="font-weight-bold">The NDP2030 Hackathon is open to all members of the South African public:</li>
                    <li>Government officials: All Government institutions i.e. national department, provincial department and local government.</li>
                    <li>State Owned Companies: All state institutions.</li>
                    <li>NGOs and NPO: All non-governmental and non-profit organisations including cooperatives.</li>
                    <li>General public: Any member of the SA public.</li>
                    <li>Private companies: ICT, non-ICT and sole proprietors.</li>
                    <li>Students: Registered students at any of the SA higher education institutions.</li>
                    <li>Learners: Registered learners at any of the SA basic education institutions.</li>
                </ul>
                <h6 class="font-weight-bold">Entries</h6>
                <ul>
                    <li>To register each team must submit one (1) team proposal via the Hackathon website <a href="https://www.NDP2030Hackathon.gov.za">https://www.NDP2030Hackathon.gov.za</a>. The proposal must define a clear problem statement as defined by the NDP2030 and the proposed business solution. The standard proposal template is available on the above mentioned Hackathon website.</li>
                    <li>Participants must submit entries for the NDP2030 Hackathon within advertised date and closing time. Submissions that are late, incomplete or contain incorrect or inaccurate details will be disqualified. SITA may, at its absolute discretion allow late registrations.</li>
                </ul>
                <h6 class="font-weight-bold">Proposal Exploitation</h6>
                <ul>
                    <li>No commercial EXPLOITATION of any Proposal shall take place prior to the conclusion of a separate written agreement between the parties governing such EXPLOITATION.</li>
                    <li>A commercialization appraisal shall be conducted by the Parties to determine the most suitable commercialization route.</li>
                </ul>
                <h6 class="font-weight-bold">Registration</h6>
                By registering in the NDP2030 SITA Hackathon administered by SITA (SOC) Ltd, the Participant agrees to be bound by the terms and conditions stated in this Agreement.<br /><br />
                <h6 class="font-weight-bold">Prizes and Awards</h6>
                SITA will, at its absolute discretion, appoint a judging panel and entries will be judged as per the publicised criteria. If a team wins, the team is solely responsible for distributing prizes between members of the team.

                <ul>
                    <li>The prize amount is taxable income. Each recipient of prize money will be required to complete and submit to the Administrator necessary tax forms to enable Administrator to adequately report on and withhold taxes as required by law. The prize money will be paid to the winning teams within two weeks after the Hackathon event.</li>
                    <li>20% of the Hackathon prize money will be paid to the winning teams 30 days after the Hackathon event. The 80% of the prize money will be paid upon the completion of the solution realisation process.</li>
                    <li>The solution realisation process will be notified in writing to Participants and the participants of the winning solutions will be expected to be available for two full days each week for the duration of the process.</li>
                </ul>
                <h6 class="font-weight-bold">Obligations of the Parties</h6>
                <ul>
                    <li>SITA undertakes to pay prize money to the winning Proposals in an ethical manner and conversant to all regulations of SITA and all governing laws and regulation of South Africa.</li>
                    <li>SITA undertakes to pilot the proposal outcomes where applicable and possible.</li>
                    <li>The Parties undertake to exchange information and material relating to the Proposal.</li>
                    <li>No provision in this AGREEMENT shall entitle any one of the Parties to use the BACKGROUND INTELLECTUAL PROPERTY of any other Party without the express written consent of such other Party.</li>
                    <li>SITA shall not individually exploit any ideas, concepts, activities or INTELLECTUAL PROPERTY rights arising from this PROJECT Without the written consent and agreement of the PARTIES.</li>
                    <li>SITA shall have a first right of refusal for commercialization of opportunities that will be exercised over a period of 3 months from introduction of Proposal to SITA.</li>
                </ul>
                <h6 class="font-weight-bold">Proposal Exploitation</h6>
                <ul>
                    <li>No commercial EXPLOITATION of any Proposal shall take place prior to the conclusion of a separate written agreement between the parties governing such EXPLOITATION.</li>
                    <li>A commercialization appraisal shall be conducted by the Parties to determine the most suitable commercialization route.</li>
                </ul>
                <h6 class="font-weight-bold">Intellectual Property Rights</h6>
                <ul>
                    <li>Participation in the hackathon does not require Participants to transfer ownership of their intellectual property rights to SITA. SITA does not claim ownership of intellectual property rights in Participant’s submitted proposals.</li>
                    <li>Participants represent and warrant that they have permission to use Proprietary information and that it does not infringe on the intellectual property of third parties. Permission for use of any third party material must be submitted to SITA before or during the hackathon.</li>
                    <li>SITA reserves the right to request removal of any content that may infringe any third party intellectual property rights.</li>
                    <li>All training material provided by SITA during the hackathon is owned by SITA and shall be used solely for the purposes of the hackathon.</li>
                    <li>The ownership of any Intellectual Property (“Background Intellectual Property”) owned by any Party prior to the commencement of this Agreement shall be and remain vested with that Party.</li>
                    <li>Any other Intellectual Property and related matter emanating from the operation (“Foreground Intellectual Property”) shall be managed in accordance with the provisions of the Intellectual Property Rights from Publicly Financed research and Development Act, 2008 (Act No. 51 of 2008),</li>
                    <li>The parties undertake to exercise its best endeavours to commercialize the Foreground Intellectual Property as soon as it is commercially viable.</li>
                </ul>
                <h6 class="font-weight-bold">Confidential information</h6>
                <ul>
                    <li>Throughout the Hackathon, the Parties may gain knowledge about each other’s business activities, products, services and/or technical expertise which may be regarded as confidential information. Parties agree that they will not to divulge to any third party or sell, trade, publish, reproduce or reverse engineer any of the confidential information and not to put in use for any purpose unrelated to the collaboration, in any manner, any confidential information without the disclosing party’s prior written consent, except as provided by the exclusions specified in Clause 10.2 below.</li>
                    <li class="font-weight-bold">  The obligation of confidentiality shall not apply to information which:</li>
                    <li>Becomes known by third parties through no fault of the Parties hereto;</li>
                    <li>Is or becomes published otherwise than by unauthorized publication in breach of this Agreement;</li>
                    <li>Is independently developed by an employee of the recipient who has not had access to any of the confidential information disclosed to the recipient by the other Party;</li>
                    <li>Is in the public domain;</li>
                    <li>Can reasonably be demonstrated to be known to the Parties prior to disclosure under this Agreement;</li>
                    <li>Is disclosed to the Party or Parties by another party entitled to disclose the information;</li>
                    <li>The Parties hereto agree to release; or</li>
                    <li>Is required to be disclosed by law.</li>
                </ul>
                <ul>
                    <li>The Parties hereto shall take due precautions to ensure that their employees including agents or independent contractors, who have a need to know confidential information, undertake the above obligations of confidentiality.</li>
                    <li>Each Party may not divulge, and will ensure that any of its employees including agents or independent contractors do not divulge, to any person, other than the duly authorised representatives of the other Party and its own employees, and only if this is necessary for the proper fulfilment of the objectives of this Agreement, any confidential information arising in connection with or during the course of this Agreement without the prior written authority of the other Party.</li>
                    <li>Personal information will be collected upon registration on the Hackathon website. Registration requires that participants supply their name and contact information. This information will be used to confirm eligibility. Once registered, participants may receive periodic communications relating to the NDP2030 Hackathon event.</li>
                </ul>
                <h6 class="font-weight-bold">Marketing and publicity</h6>
                <ul>
                    <li>Participants agree that SITA may use the title of their entry, name, photographs and details of the expertise on the NDP2030 Hackathon and SITA website and promotional or marketing material without compensation.</li>
                    <li>Participants agree that they will direct any media enquiries or enquiries from anyone looking to publish information about the NDP2030 Hackathon 2019 to SITA.</li>
                    <li>Participants understand that they may be requested to undertake media interviews in relation to the Hackathon.</li>
                    <li>There will be correspondence with the winning teams should SITA embark on a process of implementing the solutions. SITA is not under any obligation to use the winning proposals for any purpose. Notwithstanding the provisions of Section 5 of the Copyright Act 98/1978 SITA will partner with the Participants of the viable developed solutions at its own discretion.</li>
                </ul>
                <h6 class="font-weight-bold">Limitation of liability</h6>
                <ul>
                    <li>SITA and its sponsors will not be liable for any direct, special, incidental, exemplary, punitive or consequential damages, including loss of use, data, business or profits, arising out of or in connection with a Party’s participation in the hackathon and /or this Agreement.</li>
                    <li>Each Party bears the liability arising out of its own negligence, wrongful act or omission, and its own breach of this Agreement.</li>
                </ul>
                <h6 class="font-weight-bold">Costs</h6>
                <ul>
                    <li>Each Party shall bear its own costs in the negotiation, preparation and finalisation of this Agreement.</li>
                </ul>
                <h6 class="font-weight-bold">General</h6>
                <ul>
                    <li>This Agreement shall be governed by and construed in accordance with the laws of the Republic of South Africa.</li>
                    <li>SITA reserves the right, in its sole discretion, to cancel, modify or suspend the hackathon in whole or in part, in the event of fraud, technical or other difficulties or if the integrity of the hackathon is compromised, without liability to the Participants.</li>
                    <li>SITA reserves the right, in its sole discretion, to disqualify any Participant as determined by SITA.</li>
                    <li>This Agreement constitutes the entire contract between the Parties as to its subject matter and may only be altered or varied in writing.</li>
                    <li>No alteration of, variation of or amendment to this Agreement, including this clause, shall be of any force and effect unless it is reduced to writing and signed by the Parties.</li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="float-right">
                <label>I agree to Terms and Conditions </label>
                @Html.CheckBoxFor(m => m.AcceptedTermsAndConditions)
                <br />
                @Html.ValidationMessageFor(m => m.AcceptedTermsAndConditions, "", new { @class = "text-danger" })
            </div>
        </li>
        <li class="list-group-item">
            <div class="float-right">
                <label>I agree to Privacy Terms  </label>
                @Html.CheckBoxFor(m => m.AcceptedPrivacy)
                <br />
                @Html.ValidationMessageFor(m => m.AcceptedPrivacy, "", new { @class = "text-danger" })
            </div>

        </li>
    </ul>

</div>