
@{
    ViewData["Title"] = "Success";
}


<div class="container">
    <div class="text-center">
        <br /><br />
        <i class="fa fa-check-circle fa-10x" style="color:#41AD49"></i>
        <h6>Message Sent Successfully!</h6>
        
        
        Thank you! Your message has been successfully sent. One of our assistant will get in touch with you shortly. Click <a asp-area="" asp-action="index" asp-controller="home">here</a> to return
        to home page.
    </div>
</div>
