
@{
    ViewData["Title"] = "FAQ";
}
<br />

<h4 style="text-align:center">FAQ</h4>
<hr />
<div class="panel panel-default" style="background-image:url('/images/bbg.png')">
    <div class="container">
        <br />
        <br />  <br />  <br />
        <br />  <br />  <br />
        <br />  <br />  <br />
        <br />  <br />  <br />
        <br />  <br />  <br />
        <br />  <br />  <br />
        <br />  <br />  <br />
        <br />  <br />  <br />
        <br />  <br />  <br />
        <br />  <br />

    </div>
</div>
